
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}


nav {
    background-color: #666;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


main {
    padding: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}



header img {
    width: 100px; 
    height: auto;
}


.social-links {
    text-align: center;
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 30px; 
    height: auto;
}


.photo-gallery img{
    width: 450px; 
    height: 450px;
    margin: 10px;
}
.question {
    margin: 20px;
}

.choices label {
    display: block;
    margin-bottom: 10px;
}

.choices input[type="radio"] {
    margin-right: 5px;
}

.result {
    font-weight: bold;
    margin: 20px;
}





